.dzenter {
    background-color: blue;
}

.dzenter input {
    color: yellow;
    background-color: blue;
    
}
.dzleave {
    background-color: white;
}

.dzleave input{
    background-color: white;
    color: black;
}