<div>
	<form [formGroup]="itemForm">
		<input type="hidden" formControlName="$key">
		<input type="hidden" formControlName="owner">
		<input type="checkbox" formControlName="buy" (change)="onChange()">
		<input type="text" formControlName="quantity" (keyup.enter)="onChange()" (blur)="onChange()">
		<input type="text" formControlName="unit" (keyup.enter)="onChange()" (blur)="onChange()">
		<input type="text" formControlName="name" (change)="onChange()">
		<input type="text" formControlName="order" (keyup.enter)="onChange()" (blur)="onChange()">
	</form>
</div>
