.dzenter {
    opacity: 1;
    min-width: "50px";
    border: groove;
    width: "50px";
    padding-left: "10px";
    color: "black";
    background-color: red;
}
.dzleave {
    opacity: 0.2;
    min-width: "50px";
    border: groove;
    width: "50px";
    padding-left: "10px";
    color: "black";
    background-color: white;
}

#departmentdropzone {
    height: 100%;
    flex-grow: 1;
}


.dragtext {
    margin-bottom: 35%;
    margin-top: 35%;
    text-align: center;
}
