<div class="departments-container">
	<!--list-shops [shops]=" shops$ | async " (shopChanged)="onShopChanged($event) ">Shops</list-shops-->
	<search>Loading search...</search>
</div>
<show-shops-with-departments [shops]="shops"></show-shops-with-departments>
<department-drop-zone></department-drop-zone>
<!--
<div *ngFor="let shop of shops; let i = index">
	<show-shop [id]="'s'+i" id="{{id}}" [shop]="shop">
		<list-departments [shop]="shop"></list-departments> 
		<div *ngFor="let department of (departments$ | async); let i = index">
			FOO {{department.name}}
		</div>
	</show-shop>
	-->
<!-- GB 
<div class="shops-and-departments">
	<shop-shops-with-departments [shops]=" shops ">Shops</shop-shops-with-departments>
</div>
-->