.departments-container {
    display: flex;
}
search {
    margin-left: 10px;
}

.list-shops-and-departments {
    display: flex
}

department-drop-zone {
    margin-left: 10px;
    flex-grow: 1;
    align-items: baseline;

}
